div.form{
width:250px;
}
.navbar-nav>li:hover > .dropdown-menu{
    bottom: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main h2,
 div.row > div {
  padding-left: 50px;
  }
